src/client
src/hw_client.o
src/hw_clnt.c
src/hw_clnt.o
src/hw_server.o
src/hw_svc.c
src/hw_svc.o
src/hw_xdr.o
src/hw.h
src/lucas*
src/main_file
src/server
src/tools.o
src/*.chat
src/*.serv
src/*.client*
localtest/
lucas_meneghelli/